[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.2"
requests = "*"
freezegun = "*"

[dev-packages]
black = "*"
pylint = "*"
ipython = "*"
pytest = "*"
freezegun = "*"
jupyter = "*"
flit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
